<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title Laga Själv - Din Recept Bank i Etern</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="background-color:#FFA319">
        <header >
            <div class="content-wrapper" >
                
                    
                    <a class="float-right" href="@Url.Action("Index","Home")"><img src="~/Bilder/LagaLogo.png" /></a>
                
                
            
                
                        
                      
                            
           <!-- <div class="relative"> -->
                    
                </div>
            <!--    </div> -->
                          
                        
            
        </header>
        <div id="body">
            <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>

            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer style="background-color:#FFA319">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy;Laga Själv - Din Recept Bank i Etern</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
