<!DOCTYPE html>
<html>
  <head>
    <title>Laga Själv </title>
   <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    
      

  </head>
    
    
  <body >
    <header style="background-color:#FFA319;max-width: 960px;border: 1px solid black"">@RenderPage("~/Views/Shared/_Header.cshtml")</header>
    <div style="max-width: 960px; max-height:450px; overflow: hidden;">
        <div style="float:left;width:17%;height:450px; background-color:#d3d3d3; padding:5px 5px 5px 5px; border: 1px solid black"">
        <nav>
                        <ul style="float:left;font-size: 1.3em;font-family: 'Open Sans', sans-serif;border: 1px solid black";>
                            <li>@Html.ActionLink("Inloggning", "Login", "Account")</li>
                            <li>@Html.ActionLink("Registrering", "Register", "Account")</li>
                            <li>@Html.ActionLink("Sök", "Search", "Home")</li>
                            @if (Request.IsAuthenticated) { 
                            <li> @Html.ActionLink("Mina Recept", "MyRecipe", "Home")</li>
                                <li> @Html.ActionLink("Ladda Upp", "upLoad", "Home")</li>
                             } 
                           @if (HttpContext.Current.User.IsInRole("Admin")) {
                               <li>  @Html.ActionLink("Admin", "AdminPage", "Account")</li>
                             }
                        </ul>
                    </nav>
            </div>
        <div style="overflow:scroll;max-height:450px;">
      @RenderBody()
            </div>
    </div>
    <footer style="background-color:#FFA319; height: 100px;max-width: 960px;border: 1px solid black"">@RenderPage("~/Views/Shared/_Footer.cshtml")</footer>

       @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
  </body>
    
</html>
