@{
    ViewBag.Title = "Mina recept";
    
}

<h2>Mina Recept</h2>


 @foreach (var itemData in ViewBag.MyRecipes )
    {   
        int i = 0;
       // var data = ViewBag.recipeData;
        foreach (var recept in (List<string>)ViewBag.recetpnamn)
        {      
            
     if(recept.Equals(itemData.ReceptNamn)){  
      <div style="border: 1px solid black">

      <a href="@Url.Action("DisplayRecipe","Home", new { RecipeName = itemData.ReceptNamn }, null)">
          
           
            @foreach (var item in ViewBag.Blobs)
        {
            if (item.Contains(itemData.blobnamn))
            {
            <img src="@item" alt="image here" width="300" height="300" />
            }
             
            
         }
        
        </a>
        <div>Beskrivning  @itemData.Instruktioner</div>
           @using (Html.BeginForm("Save", "Home", FormMethod.Post)){             
             @Html.Hidden("receptnamn", (object) itemData.ReceptNamn)
            @Html.Hidden("blob", (object) itemData.blobnamn)  
            <input type ="submit" value="Spara i mina recept"  />
           }
        </div> 
 }
 }
        i++;
    }
          