@model MvcWebRole1.Models.Recept

@{
    ViewBag.Title = "Search";
     
}

 @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
    
   <h2>Search</h2> @Html.DropDownList("kategori", "-Välj Kategori-")
    
   <input type="submit" value="Search" />
    }


    
    
    @foreach (var itemData in ViewBag.recipeData )
    {   
        int i = 0;
       // var data = ViewBag.recipeData;
        // <a>@item</a> 
      <a href="@Url.Action("DisplayRecipe","Home", new { RecipeName = itemData.ReceptNamn }, null)">
          <div style="border: 1px solid black">
           
            @foreach (var item in ViewBag.Blobs)
        {
            if(item.Contains(itemData.blobnamn)){
            <img src="@item" alt="image here" width="300" height="300" />
            }
             
            
         }
        
        
        <div>Beskrivning @itemData.mjolk @itemData.mjolkmatt</div>

        </div></a> 
    }
