

@{
    ViewBag.Title = "Search";
     
}

 @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
    
   <h2>Search</h2> @Html.DropDownList("kategori", "-Välj Kategori-")
    
   <input type="submit" value="Sök" />
    }


    
    
    @foreach (var itemData in ViewBag.recipeData )
    {   
        int i = 0;
       // var data = ViewBag.recipeData;
        // <a>@item</a> 
        <div style="border: 1px solid black">

      <a href="@Url.Action("DisplayRecipe","Home", new { RecipeName = itemData.ReceptNamn }, null)">
          
           
            @foreach (var item in ViewBag.Blobs)
        {
            if(item.Contains(itemData.blobnamn)){
            <img src="@item" alt="image here" width="300" height="300" />
            }
             
            
         }
        
        </a>
        <div>Beskrivning  @itemData.Instruktioner</div>
             @if (Request.IsAuthenticated) { 
                            
           using (Html.BeginForm("Save", "Home", FormMethod.Post)){
             
             @Html.Hidden("receptnamn", (object) itemData.ReceptNamn) 
                 @Html.Hidden("blob", (object) itemData.blobnamn) 
            <input type ="submit" value="Spara i mina recept"  />
           }
                  
                             } 
        </div> 
    }
