 

@{
    ViewBag.Title = "upLoad";
}

<h2>upLoad</h2>
<h2>@ViewBag.Message</h2>



    @using (Html.BeginForm("upLoad", "Home", FormMethod.Get))
    {
    
   
    
   <!--<input type="submit" value="upLoad" />-->
    }

   
    @using (Html.BeginForm("upLoad", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
    {
            
    @Html.Label("Välj en kategori")
    @Html.DropDownList("kategori", "-Kategori-")
    @Html.Label("Receptnamn")
    @Html.TextBox("receptnamn")
    @Html.ValidationMessage("receptnamn");
     
   <div>    
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens1", "-Ingredienser-") 
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd1")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet1", "-Måttenhet-") <br />
    @Html.Label("Välj Ingrediens") 
    @Html.DropDownList("ingrediens2", "-Ingredienser-") 
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd2")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet2", "-Måttenhet-")<br />
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens3", "-Ingredienser-")
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd3")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet3", "-Måttenhet-")<br />
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens4", "-Ingredienser-")
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd4")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet4", "-Måttenhet-")<br />
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens5", "-Ingredienser-")
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd5")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet5", "-Måttenhet-")<br />
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens6", "-Ingredienser-")
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd6")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet6", "-Måttenhet-")<br />
    @Html.Label("Välj Ingrediens")
    @Html.DropDownList("ingrediens7", "-Ingredienser-")
    @Html.Label("Mängd")
    @Html.TextBox("ingrediensmangd7")
    @Html.Label("Välj mått")
    @Html.DropDownList("mattenhet7", "-Måttenhet-")<br />
    

    @Html.Label("Antal portioner")<br />
    @Html.TextBox("antal")<br />
    @Html.Label("Kommentar");<br />
    @Html.TextArea("instruktioner", null, 5, 40, null);

</div>
        <input type ="file" name ="image" value="image" />
        <input type ="submit" value="upload" />
        
        
    }

<ul style ="list-style-type:none; padding:0;">
    @foreach (var item in Model)
    {   
        <img src="@item" alt="image here" width="100" height="100" />
        <a  href="#" id="@item" onclick="deleteImage('@item');">Delete</a>
    }
</ul>
<
<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { Name: item }, function (data) {
            window.location.href = "/Home/Upload";
        });
    }
</script>

